When viewing events on the map, you can see which users have joined the event at the bottom of the view details window
<%= image_tag 'web_screenshots/events_users.png', style: 'height:550px; width:auto;' %><br>
<h3>Event Invitations</h3>
If you have created the event, you can invite other users to the event
You can do this by viewing your event and clicking on the ‘Edit Event’ button.
You can find the ‘Invite Person’ button at the bottom of the event form.<br>
<%= image_tag 'web_screenshots/post_event_form.png', style: 'height:550px; width:auto;' %><br>
Event invitations work the exact same way that group invitations work
<%= image_tag 'web_screenshots/event_invite_search.png', style: 'height:550px; width:auto;' %><br>	
The other user will receive an email with the details of the event and have links to accept or decline the invitation
<%= image_tag 'web_screenshots/pending_event_invitation.png', style: 'height:550px; width:auto;' %><br>

<h3>Event Joining</h3>
If you did not create the event and the event is public, you can join that event
Join by clicking on the ‘Join Event’ button
<%= image_tag 'web_screenshots/joined_event.png', style: 'height:550px; width:auto;' %>

<h3>Chat in Around Me Event</h3>
There is also an in-built chat window for the around me events. You can take part in the conversation of that event to discuss important details.
<%= image_tag 'web_screenshots/around_me_chat.JPG', style: 'height:550px; width:auto;' %>

<h3>Leave Event</h3>
<p class = 'pb-5'>
    If don’t want to be a part of the event anymore, you can simply click the ‘Leave Event’ button and confirm
    NOTE: You can still rejoin the event or be invited again
</p>