<div class = 'row'>
    <div class = 'col-md-9 offset-md-1 tutorial-home rounded'>
        <p>
            <h3>1. Lost and Found</h3>
            <hr class = 'my-4'>
            Follow the link to ‘Lost and Found’ page
            The events that you have created for lost or found dogs will appear at the top of their respective tables
        </p>
        <%= image_tag 'web_screenshots/lost_and_found.png', style: 'height:550px; width:auto;', class: 'img-thumbnail' %><br>
        <p>
            Users can contact you about your lost or found dogs
            You can view these messages for each pet by clicking on the ‘View Messages’ button for that pet
        </p>
        <%= image_tag 'web_screenshots/lost_and_found_view_messages.png', style: 'height:550px; width:auto;', class: 'img-thumbnail' %><br>
        <p>
            View the messages from each user by ‘View Messages’ next to their name
        </p>
        <%= image_tag 'web_screenshots/lost_and_found_conversation.png', style: 'height:550px; width:auto;', class: 'img-thumbnail' %><br>
        <p>
        When you have resolved the missing pet, you can mark the pet as returned
        </p>
        <%= image_tag 'web_screenshots/confirm_mark_returned.png', style: 'height:550px; width:auto;', class: 'img-thumbnail'%><br>
        <%= image_tag 'web_screenshots/pet_returned.png', style: 'height:550px; width:auto;', class: 'img-thumbnail' %><br>
    </div>
</div>