<h3>Lost and Found</h3>
Follow the link to ‘Lost and Found’ page
The events that you have created for lost or found dogs will appear at the top of their respective tables
<%= image_tag 'web_screenshots/lost_and_found.png', style: 'height:550px; width:auto;' %><br>
Users can contact you about your lost or found dogs
You can view these messages for each pet by clicking on the ‘View Messages’ button for that pet
<%= image_tag 'web_screenshots/lost_and_found_view_messages.png', style: 'height:550px; width:auto;' %><br>
View the messages from each user by ‘View Messages’ next to their name
<%= image_tag 'web_screenshots/lost_and_found_conversation.png', style: 'height:550px; width:auto;' %><br>
When you have resolved the missing pet, you can mark the pet as returned
<%= image_tag 'web_screenshots/confirm_mark_returned.png', style: 'height:550px; width:auto;' %><br>
<%= image_tag 'web_screenshots/pet_returned.png', style: 'height:550px; width:auto;' %><br>
