<div class = 'row'>
    <div class = 'col-md-9 offset-md-1 tutorial-home rounded'>
        <p>
            <h3>1. Create a group</h3>
            <hr class = 'my-4'>
            You can view your groups by following the link to ‘My Pets and Groups’ page
        </p>
        <%= image_tag 'web_screenshots/groups.png', style: 'height:550px; width:auto;', class: 'img-thumbnail' %><br>
        <p>
            Click on the tab to ‘New Group’ to display the form to create a new group
        </p>
        <%= image_tag 'web_screenshots/group_form.png', style: 'height:550px; width:auto;', class: 'img-thumbnail' %><br>
        <p>
            When you save your new group, you will now see a tab with your new group
        </p>
        <%= image_tag 'web_screenshots/group_created.png', style: 'height:550px; width:auto;', class: 'img-thumbnail' %><br>

        <p>
            <h3>2. Add a Pet</h3>
            <hr class = 'my-4'>
            Click on the ‘Add Pet’ button at the bottom of the pet card list
            Fill in the form with the new pet’s information
        </p>
        <%= image_tag 'web_screenshots/add_pet.png', style: 'height:550px; width:auto;', class: 'img-thumbnail' %><br>
        <p>
            You can add a photo for the pet by clicking on the placeholder photo.
            It will bring up a pop-up for you to choose a photo.
        </p>
        <%= image_tag 'web_screenshots/add_pet_photo.png', style: 'height:550px; width:auto;', class: 'img-thumbnail' %><br>
        <p>
            Anywhere that you see a pet thumbnail photo, you can view the larger version in a pop-up
        </p>
        <%= image_tag 'web_screenshots/pet_photo_added.png', style: 'height:550px; width:auto;', class: 'img-thumnail' %><br>
        <%= image_tag 'web_screenshots/view_pet_photo.png', style: 'height:550px; width:auto;', class: 'img-thumbnail' %><br>

        <p>
            <h3>3. Group invitation</h3>
            <hr class = 'my-4'>
            To add other users to your group, you can send them an invitation.
            Click on the ‘Invite Person’ button at the bottom of the People card list for your group.
        </p>
        <%= image_tag 'web_screenshots/group_invite_form.png', style: 'height:550px; width:auto;', class: 'img-thumbnail' %><br>
        <p>
            You can search for any public user<br>
        </p>
        <%= image_tag 'web_screenshots/group_invite_search.png', style: 'height:550px; width:auto;', class: 'img-thumbnail' %><br>
        <p>
            Their invitation will show pending until they accept or reject the invitation
        </p>
        <%= image_tag 'web_screenshots/group_invite_pending.png', style: 'height:550px; width:auto;', class: 'img-thumbnail' %><br>
        <p>
            The other user will receive an email with a link to accept or reject your invitation
        </p>
        <%= image_tag 'web_screenshots/group_invite_email.png', style: 'height:550px; width:auto;', class: 'img-thumbnail' %><br>
    </div>
</div>
