<div class = 'row'>
    <div class = 'col-md-9 offset-md-1 tutorial-home rounded'>

        <p>
            <h3>1. Creating/Viewing/Editing events</h3>
            <hr class = 'my-4'>
        </p>
        There are two ways you can post an event:<br>
        <p style = "margin-left: 50px;">
            i. You can right mouse click anywhere on the map which then calculates the most probable address. The user needs to select what kind of event they want to post and fill in the information.
        </p>

        <%= image_tag 'web_screenshots/right_click_map.JPG', style: 'height:550px; width: auto;', class: 'img-thumbnail' %><br>
        <p style = "margin-left: 50px;">
            ii. The user can click on the button of the event type they prefer. These buttons are in a menu below the map. This menu is accessible when 'Your Google Map Menu' button below the map is clicked. From this menu, user can filter events based on their choice.
            After the event type is selected, the user then fills in the required details for the event.
        </p>
        <%= image_tag 'web_screenshots/google_map_menu.JPG', style: 'height:550px; width: auto;', class: 'img-thumbnail' %><br>
        <%= image_tag 'web_screenshots/specific_event_form.JPG', style: 'height:550px; width: auto;', class: 'img-thumbnail' %><br>

        <p>
            After the event is created, the marker is dropped onto that location.
        </p>
        <p>
            <h3>2. Event View/Edit</h3>
            <hr class = 'my-4'>
            A user can view all events and edit only the events created by them. User just clicks on the marker and then clicks on ‘View Details’
        </p>
        <%= image_tag 'web_screenshots/event_view.JPG', style: 'height:550px; width: auto;', class: 'img-thumbnail' %><br>
        <p>
            User can edit the event details by just clicking on 'Edit' button
        </p>
        <%= image_tag 'web_screenshots/event_edit.JPG', style: 'height:550px; width: auto;', class: 'img-thumbnail' %><br>
    </div>
</div>
