<h3>Around Me</h3>
<h3>Navigating around the map</h3>
Navigate the map by tapping and dragging your finger. You can also quickly visit each event on the map by scrolling through the cards located at the bottom of the screen.
<%= image_tag 'ios_screenshots/IMG_1028.PNG', style: 'height:550px; width:auto;', class: 'pb-5'%><br>

    <h4>Viewing an event</h4>
    To view an event, tap on its corresponding card. This will open up a new window displaying all the information about the event.

    <h4>Contact Post Owner</h4>
    To direct message the post owner, tap on Contact Host from the event view screen. This will open up a chat window between you and the post owner.
    <%= image_tag 'ios_screenshots/IMG_1031.PNG', style: 'height:550px; width:auto;', class: 'pb-5'%><br>


<h3>How to filter results on the map</h3>
Tap on an open location on the map. This will open up a popup that will let you filter the events on the map by: Lost Dog, Found Dog, Around Me Events, and All Events.
<%= image_tag 'ios_screenshots/IMG_1029.PNG', style: 'height:550px; width:auto;', class: 'pb-5'%><br>

<h3>How to post an event</h3>
Tap and hold on an open location on the map. This will open up a popup that will let you post the following events on the map:<br>
<%= image_tag 'ios_screenshots/IMG_1030.PNG', style: 'height:550px; width:auto;', class: 'pb-5'%><br>

    <h4>Around Me Event</h4>
    Enter an event description, select whether the event is Public or Private, use the datepicker to select a data and time for the event, and tap on Post Event. 
    <%= image_tag 'ios_screenshots/IMG_1035.PNG', style: 'height:550px; width:auto;', class: 'pb-5'%><br>

    <h4>Lost Dog</h4>
    Select the lost dog from the Select Lost Dog dial, then enter a description of where and when you lost your dog. Tap on Post to post the Lost Dog event.
    <%= image_tag 'ios_screenshots/IMG_1033.PNG', style: 'height:550px; width:auto;', class: 'pb-5'%><br>

    <h4>Found Dog</h4>
    <p class = 'pb-5' >Select the breed of the dog you found, then enter a description of where and when you found the dog, as well as any other characteristics that might help the owner of the lost dog. Tap on Post to post the Found Dog event.</p>
    